*{
    padding: 0px;
    margin: 0px;
}
.popOverlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.popup{
    display: grid;
    gap: 15px;
    position: fixed;
    top: -150%;
    left: 40%;
    transform: translate(-30%,-40%);
    width: 300px;
    padding: 30px;
    background-color:lightblue

}
body.popup-active .popup{
    top: 30%;
}
body.popup-active .popOverlay{
    display: block;
}
.nav-container{
    line-height: 40px;
    background-color: blueviolet;
    font-size: 20px;
    
}
#sort{
    padding:  5px  10px;
    font-size: 18px;
    background-color:rgb(182, 226, 182) ;
    border: none;
    margin: 15px;
    font-weight:bold ;
    border-radius: 25px;
}
span{
    margin-left: 20px;
    background-color: rgb(221, 174, 112);
    padding: 5px 10px;
    font-weight: bold;
    font-size: 18px;
}
#filter{
    padding:  5px ;
    font-size: 15px;
    background-color: antiquewhite;
}

#openPop{
    margin-left: 500px;
    padding:  5px 10px;
    font-size: 18px;
    background-color:rgb(47, 150, 47) ;
    border: none;
    font-weight:bold ;
    border-radius: 25px;
    
}

#container{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-left: 200px;
    margin-top: 200px;
    width: 1100px;

}

#container div{
   padding: 10px;
   background-color: rgb(236, 236, 115); 
   text-align: center;
   height: 350px;
   width: 250px;
}
